<html>
  <head>
    {% if title %}
    <title>{{ title }} - Kontra</title>
    {% else %}
    <title>Kontra</title>
    {% endif %}
  </head>
  <body>
    <div>
      Kontra:
      <a href="{{ url_for('index') }}">Start</a>
      <a href="{{ url_for('bestrid') }}">Bestrid Böter</a>
    </div>
    <hr />
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
